@import '~bootstrap/scss/bootstrap';


.head {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-top: 1em;
}
.parent{
  color: rgb(0, 0, 0);
  font-size: large;
  display: flex;
  flex-flow: row wrap;
}

.game-container {
  text-decoration: bold;
  text-size: 1em;
  display: flex;
  justify-content:space-around;
  align-items:center;
}

.game-container * {
 flex-direction:row;
  height: 100%;
}

.game-container :nthchild(1) {
  flex: 1 2 auto;
  margin: 0;
}

.game-container :nthchild(2) {
  flex: 3 2 auto
}

.menu{

}

.dialogueText {
  font-size: large;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 0%;
}

.X{
  background-color: #da4f4a;
  content:url("app/styles/x.png");
  max-width: 50px;
}

.O{
  background-color: #016ecd;
  content:url("app/styles/o.png");
  max-width: 50px;
}

.noodle {
  font-size: large;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
}

.dialogue {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  // z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.568); /* Fallback color */
  // padding: 60px;
  text-align: center;
}



.child {
  padding: 50px;
  width: 30%;  /* Magic! */
  height: 30%;
  // background-color: rgb(223, 192, 106);
  border: 2px solid black;
  text-align: center;
  flex: 4 4 auto;
    &::before {
    content: '';
    display: block;
    padding-top: 100%;
  }
}

.gameNotYet {
  display: block;
  text-align: center;
}

input {
  text-align: center;
  margin-bottom: 1em
}

#sign-up {
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 10px;
  padding-bottom: 10px;
  }

#sign-in {
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 10px;
  padding-bottom: 10px;
  }

.gameStarted {
  text-align: center;
  display: none;
}



#endGame {
  text-align: center;
}

// #index-games {
//   text-align: center;
// }

#ui-display {
  text-align: center;
  display: block;
}

#ui-box {
  height: 1em;
}

#error-message {
  text-align: center;
}

div, a {
    /* add border to padding for visibility */
    // padding: 1rem;

}

html {
  height: 100%;
}

body {
  height: calc(100vh - 100px)
}

.nav {
  display: block;
}
