@import '~bootstrap/scss/bootstrap';


.head {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 5em;
}

html {
  height: 100%;
}

body {
  height: calc(100vh - 100px)
}

.logo {
  width: 30%;
  min-width: 430px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.parent{
  color: #1a2026;
  font-size: large;
  display: flex;
  flex-flow: row wrap;
}

.game-container {
  text-decoration: bold;
  text-size: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
}

.game-container * {
 flex-direction:row;
  height: 100%;
}


.dialogueText {
  // font-size: large;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 0%;
  color: #3d4a3d;
}

.game-board {
  display: block;
  width: 25em;
}

.btn-primary {
 background-color:#016ecd;
 border-radius: 0;
  }

.btn-primary:hover {
  background-color: #0131cd;
  border-color: #0131cd;
}


.signout {
  background-color:#da4f4a;

}
.signout:hover{
 background-color:#0131cd;
 border-color: #0131cd;
}


.X{
  background-color: #da4f4a;
}

.O{
  background-color: #016ecd;
}

.noodle {
  font-size: large;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
}

.dialogue {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  // z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.568); /* Fallback color */
  // padding: 60px;
  text-align: center;
}



.child {
  padding: 50px;
  width: 30%;  /* Magic! */
  height: 30%;
  // background-color: rgb(223, 192, 106);
  border: 2px solid #1a2026;
  text-align: center;
  // flex: 4 4 auto;
  //   &::before {
  //   content: '';
  //   display: block;
  //   padding-top: 100%;
  // }
}




.gameNotYet {
  display: block;
  text-align: center;
}

input {
  text-align: center;
  margin-bottom: 1em
}

#sign-up, #sign-in {
margin-left: auto;
margin-right:auto;
  padding: 1em;
  color: #212529;
  }


.gameStarted {
  text-align: center;
  display: none;
}


#endGame {}
#error-message, .ui-display {
  text-align: center;
  display: block;
}

.game-buttons {
  width: 70%;
  margin-top: .5em;
}


.game-container :nthchild(1) {
  flex: 1 2 auto;
  margin: auto;
  padding-right: 1em;
}

.game-container :nthchild(2) {
  flex: 3 2 auto;
  padding-left: 1em;
}
